.profile {
  padding: 5rem 0 0;
  text-align: center;
  position: relative;
}

.profile-img-container {
  position: relative;
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0 auto 3rem;
  cursor: pointer;
}

.camera {
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  transition: all 0.5s;
  opacity: 0;
}

.profile-img-container:before {
  content: '';
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(52, 64, 84, 0.75),
    rgba(52, 64, 84, 0.75)
  );
  transition: opacity 0.2s;
}

.profile-img-container:hover .camera {
  bottom: 1rem;
  opacity: 1;
}
.profile-img-container:hover.profile-img-container:before {
  opacity: 1;
}

#profile_img {
  width: 100%;
}
.more {
  display: none;
}

@media only screen and (max-width: 768px) {
  .share {
    display: none;
  }
  .more {
    display: block;
  }
}
